:host {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .control {
    flex: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 11px;
    button {
      font-size: 11px;
    }

    nav {
      display: flex;
      padding: 5px;
      align-items: center;

      > * {
        margin-right: 5px;
        flex: none;
      }

      .filler {
        flex: auto;
      }
    }

    label {
      display: flex;
      align-items: center;
    }
  }

  main {
    position: relative; // positioned anchor
    overflow-y: scroll;
    flex: auto;

    .explanation {
      article {
        padding: 5px;
      }
    }
  }

  section {
    border: 1px solid black;
    background-color: #f2f2f2;
    margin: 20px 10px;
    flex: auto;

    > header {
      padding: 5px 5px;
      display: block;
      background-color: #b3b3b3;
      font-weight: bold;
    }
  }
}
