$collapse-button-size: 15px;

:host {
  position: relative; // anchor
  background-color: white;
  display: inline-block;
  border: 1px solid black;
  margin: 10px;
  padding: 5px;
  text-align: center;
  border-radius: 3px;
  min-width: $collapse-button-size;
  min-height: $collapse-button-size;

  > button.toggle-visibility {
    position: absolute;
    left: 0;
    top: 0;
    width: $collapse-button-size;
    height: $collapse-button-size;
    border: none;
    color: black;
    background-color: transparent;
    outline: none;
    margin: 0;
  }

  &.dirty-check {
    &.level-1 {
      background-color: #e6e6ff;
    }
    &.level-2 {
      background-color: #ccccff;
    }
    &.level-3 {
      background-color: #b3b3ff;
    }
    &.level-4 {
      background-color: #9999ff;
    }
    &.level-5 {
      background-color: #8080ff;
    }
    &.level-6 {
      background-color: #6666ff;
    }
    &.level-7 {
      background-color: #4d4dff;
    }
    &.level-8 {
      background-color: #3333ff;
    }
    &.level-9 {
      background-color: #1a1aff;
    }
    &.level-10 {
      background-color: #0000ff;
    }
  }

  > div.component::before {
    position: relative;
    top: -10px;
    font-family: monospace;
    font-size: 10px;
  }

  &.view-child {
    border-style: solid;
    > div.component::before {
      content: '<<ViewChild>>';
    }
  }

  &.content-child {
    border-style: dashed;
    > div.component::before {
      content: '<<ContentChild>>';
    }
  }

  > div.component {
    > div.state {

      > span {
        display: inline-block;
        margin: 2px 0;
        padding: 2px 3px;
        border-radius: 3px;
        border: 1px solid;
        font-size: .8rem;
        color: black;
        background-color: white;
      }

      > span.strategy-box {
        border-color: black;
        color: white;

        &.Default {
          border-color: black;
          background-color: black;
          color: white;
        }

        &.OnPush {
          border-color: deeppink;
          background-color: deeppink;
          color: white;
        }
      }

      > span.cd-state-box {
        border-color: #004d1a;
        color: #004d1a;
        background-color: #b3ffcc;
        &::before {
          content: 'attached';
        }

        &.cd-detached {
          color: #000000;
          background-color: #cccccc;
          border-color: #000000;
          &::before {
            content: 'detached';
          }
        }
      }

      > span.ng-do-check-box {
        border-color: darkgray;
        color: darkgray;

        &.ng-do-check {
          border-color: red;
          color: red;
          background-color: #ffe6e6;
        }
      }

      > span.ng-on-changes-box {
        border-color: darkgray;
        color: darkgray;

        &.ng-on-changes {
          border-color: red;
          color: red;
          background-color: #ffe6e6;
        }
      }
    }

    > div.name {
      padding: 5px 0;
      font-size: 12px;
      font-weight: bold;
    }

    > table.input-box {
      margin: 5px auto;
      font-size: 11px;
      border: 1px solid #000000;
      border-spacing: 0;
      border-collapse: collapse;

      td, th {
        padding: 2px 3px;
        text-align: left;
      }
    }

    > div.control > button {
      font-size: 12px;
    }

    > div.children {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: center;
    }
  }
}
